* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e2222;
  padding: 10px;
  font-family: Arial, sans-serif;
  border-bottom: 2px solid #b28d16;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

#logo {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.inicio {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#titulo {
  font-size: 4em;
  margin-bottom: 20px;
  font-family: "Arial Black", sans-serif;
}
